- 檢視 DataFrame 的資料型態
- 了解 Label Encoding 如何寫
- 了解 One Hot Encoding 如何寫

In [33]:
import numpy as np
import pandas as pd

app_test = pd.read_csv('./data/application_test.csv')

檢視資料中各個欄位類型的數量

In [28]:
app_test.dtypes.value_counts()

float64    65
int64      40
object     16
dtype: int64

檢視資料中類別型欄位各自類別的數量

In [34]:
app_test.select_dtypes(include=["object"]).apply(pd.Series.nunique, axis = 0)

NAME_CONTRACT_TYPE             2
CODE_GENDER                    2
FLAG_OWN_CAR                   2
FLAG_OWN_REALTY                2
NAME_TYPE_SUITE                7
NAME_INCOME_TYPE               7
NAME_EDUCATION_TYPE            5
NAME_FAMILY_STATUS             5
NAME_HOUSING_TYPE              6
OCCUPATION_TYPE               18
WEEKDAY_APPR_PROCESS_START     7
ORGANIZATION_TYPE             58
FONDKAPREMONT_MODE             4
HOUSETYPE_MODE                 3
WALLSMATERIAL_MODE             7
EMERGENCYSTATE_MODE            2
dtype: int64

## Label encoding
把不同值對應不同數字，適合有序變量

In [24]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
count=0

for col in app_test:
    if app_train[col].dtype == 'object':
        if len(list(app_train[col].unique())) <= 2:
            app_test[col] = label_encoder.fit_transform(app_test[col])
            count+=1

print(f'{count} columns were label encoded.')

4 columns were label encoded.

## One-Hot Encoding
替各值增加一行，記錄每筆資料有無此變量

In [31]:
app_test = pd.get_dummies(app_test)

將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [36]:
app_test = pd.read_csv('./data/application_test.csv')
sub_test = pd.DataFrame(app_test['WEEKDAY_APPR_PROCESS_START'])
print(sub_test.shape)
sub_test.head()

(48744, 1)

  WEEKDAY_APPR_PROCESS_START
0                    TUESDAY
1                     FRIDAY
2                     MONDAY
3                  WEDNESDAY
4                     FRIDAY

In [37]:
sub_test=pd.get_dummies(sub_test['WEEKDAY_APPR_PROCESS_START'])

In [38]:
sub_test

       FRIDAY  MONDAY  SATURDAY  SUNDAY  THURSDAY  TUESDAY  WEDNESDAY
0           0       0         0       0         0        1          0
1           1       0         0       0         0        0          0
2           0       1         0       0         0        0          0
3           0       0         0       0         0        0          1
4           1       0         0       0         0        0          0
...       ...     ...       ...     ...       ...      ...        ...
48739       0       0         0       0         0        0          1
48740       0       1         0       0         0        0          0
48741       0       0         0       0         0        0          1
48742       0       1         0       0         0        0          0
48743       0       0         0       0         0        1          0

[48744 rows x 7 columns]