讀取最主要的資料 application_train.csv (https://www.kaggle.com/c/home-credit-default-risk/data)

- 使用 pandas.read_csv 讀取資料
- 簡單瀏覽 pandas 所讀進的資料

In [ ]:
import os 
import numpy as np
import pandas as pd

dir_data = './data/'

In [ ]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

#### Note: 在 jupyter notebook 中，可以使用 `?` 來調查函數的定義

In [ ]:
?pd.read_csv

In [ ]:
app_train.head()

- 列出資料的大小 (Hint : shape)
- 列出所有欄位 (有多種寫法)
- 擷取部分資料 (Hint : loc 或 iloc)

#### 資料的 row 數以及 column 數

In [12]:
app_train.shape

(307511, 122)

#### 列出所有欄位

In [10]:
app_train.columns

Index([&#39;SK_ID_CURR&#39;, &#39;TARGET&#39;, &#39;NAME_CONTRACT_TYPE&#39;, &#39;CODE_GENDER&#39;,
       &#39;FLAG_OWN_CAR&#39;, &#39;FLAG_OWN_REALTY&#39;, &#39;CNT_CHILDREN&#39;, &#39;AMT_INCOME_TOTAL&#39;,
       &#39;AMT_CREDIT&#39;, &#39;AMT_ANNUITY&#39;,
       ...
       &#39;FLAG_DOCUMENT_18&#39;, &#39;FLAG_DOCUMENT_19&#39;, &#39;FLAG_DOCUMENT_20&#39;,
       &#39;FLAG_DOCUMENT_21&#39;, &#39;AMT_REQ_CREDIT_BUREAU_HOUR&#39;,
       &#39;AMT_REQ_CREDIT_BUREAU_DAY&#39;, &#39;AMT_REQ_CREDIT_BUREAU_WEEK&#39;,
       &#39;AMT_REQ_CREDIT_BUREAU_MON&#39;, &#39;AMT_REQ_CREDIT_BUREAU_QRT&#39;,
       &#39;AMT_REQ_CREDIT_BUREAU_YEAR&#39;],
      dtype=&#39;object&#39;, length=122)

#### 截取部分資料

In [17]:
app_train.iloc[:10,0:5]

   SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR
0      100002       1         Cash loans           M            N
1      100003       0         Cash loans           F            N
2      100004       0    Revolving loans           M            Y
3      100006       0         Cash loans           F            N
4      100007       0         Cash loans           M            N
5      100008       0         Cash loans           M            N
6      100009       0         Cash loans           F            Y
7      100010       0         Cash loans           M            Y
8      100011       0         Cash loans           F            N
9      100012       0    Revolving loans           M            N